extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back
                    .back-item
                        i.icon-chevron-left
                    .back-title Yeni Oyuncu Ekle
                .within_back_area
                    .new-player
                        .new-player__image
                            i.icon-plus
                        .new-player__name
                            input.input.no-icon(type="text",placeholder="Kullanıcı Adı")
                        .button.button--red.mt-20 Kaydet













