extends blocks/layout
block vars
    - var index = true;

block append head
    title index
block append svg

block content
    .maincontainer
        .device-container
            .safearea
                .back
                    .back-title Oyun Başlıyor
                .within_back_area
                    .role-list
                        .role-list__image
                            img(src="img/restoran.jpg")
                        .role-list__name Yer: Restoran
                        .role-list__role Rol: Garson
                        .role-list__info-text
                            i.icon-info.mr-1
                            | Casuslar mekanı öğrenmeye çalışacaktır. Açık vermeden sorulara cevap ver.
                        .button.button--red.mt-20 Tamam













