extends blocks/layout
block vars

block append head
    title Splash Page Alternate
block append svg

block content
    .maincontainer
        .device-container
            .safearea.full
                .splash-page
                    .logo-wrapper
                        img(src="img/logo5.svg")
                        p Casus kim bulabilir misin?
                    .figure-top
                        .figure-top-item
                            img(src="img/figures/spy.svg")
                    .figure-bottom
                        .figure-bottom-item
                            img(src="img/figures/boy.svg")
                        .figure-bottom-item
                            img(src="img/figures/eskimo.svg")
                        .figure-bottom-item
                            img(src="img/figures/girl.svg")






