#howPlay.bottom-modal
    .bottom-modal__divider(onclick='$("#howPlay").removeClass("active")')
        span
    .bottom-modal-content
        .bottom-modal-header
            .bottom-modal__title Nasıl Oynanır?
        .divider
        p Bu oyun 3 veya daha fazla kişi ile oynanır. Oyunculardan biri hariç her oyuncuya sırasıyla yer ve rolü verilir. Bir kişi casus olup yerin neresi olduğunu bilmeyecek.
        p Herkese rol dağıtımı yapıldıktan sonra oyuncular sırayla birbirlerine soru sorarak casusu tahmin etmeye çalışır. Casus ise kendisine sorulan sorulara uygun cevaplar vererek casus olduğunu belli etmemeye çalışır. Diğer oyuncuların verdiği cevaplara göre de yeri tahmin etmeye çalışır.
        p Tartışma süresi dolduktan sonra oyun biter. Casus yeri tahmin ederse oyunu casus kazanır. Diğer oyuncular casusu tespit ederse, casus hariç herkes kazanır.



        .settings-content__apply-button.button.button--red(onclick='$("#howPlay").removeClass("active")')
            span Tamam












