@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m7k5x3');
  src:  url('../fonts/icomoon.eot?m7k5x3#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?m7k5x3') format('truetype'),
  url('../fonts/icomoon.woff?m7k5x3') format('woff'),
  url('../fonts/icomoon.svg?m7k5x3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-activity:before {
  content: "\e902";
}
.icon-anchor:before {
  content: "\e910";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-check-circle:before {
  content: "\e915";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-right:before {
  content: "\e90a";
}
.icon-chevron-up:before {
  content: "\e90b";
}
.icon-edit-3:before {
  content: "\e91e";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-info:before {
  content: "\e91d";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-minus-square:before {
  content: "\e916";
}
.icon-play-circle:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e917";
}
.icon-plus-circle:before {
  content: "\e918";
}
.icon-plus-square:before {
  content: "\e919";
}
.icon-refresh:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e90f";
}
.icon-shuffle:before {
  content: "\e91f";
}
.icon-star:before {
  content: "\e911";
}
.icon-thumbs-up:before {
  content: "\e91a";
}
.icon-user:before {
  content: "\e912";
}
.icon-user-plus:before {
  content: "\e913";
}
.icon-users:before {
  content: "\e914";
}
.icon-x-circle:before {
  content: "\e91b";
}
.icon-x-square:before {
  content: "\e91c";
}
.icon-help-circle:before {
  content: "\e900";
}
